* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #F6F6F6;
}

ul,
ol,
li {
    list-style: none;
}